
<nav class="horizontal-navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
     <center><a href="/">
        <img src="/image.png" alt="AES Logo" class="navbar-logo">
      </a></center> 
      <span class="navbar-title">Answer Analysis System</span>
    </div>
  </div>
</nav>

<!-- Make sure Font Awesome is loaded -->
<script src="https://kit.fontawesome.com/368eb67b69.js" crossorigin="anonymous"></script>
<!-- Load navigation JavaScript -->
<script src="/nav.js" defer></script>
<!-- Load page loader -->
<script src="/page-loader.js" defer></script>
